<table id="login">
	<tr>
		<td id="login_info">
			<h5>
				Welcome back!<br/>
				Not due to something hard to achieve that we lost confidence.<br/>
				On the contrary,<br/>
				We lost confidence, and then something seems hard to be done!
			</h5>
		</td>
		<td id="login_form">
			<%= form_tag do %>
				<table>
					<tr>
						<td>
							<h3>Login: </h3>
						</td>
					</tr>
					<tr>
						<% if flash[:alert] %>
							<p id="notice"><%= flash[:alert] %></p>
						<% end %>
					</tr>
					<tr>
						<td>
							<label for="name">Name:</label>
						</td>
					</tr>
					<tr>
						<td class="field">
							<%= text_field_tag :name, params[:name] %>
						</td>
					</tr>

					<tr>
						<td>
							<label for="password">Password:</label>
						</td>
					</tr>
					<tr>
						<td class="field">	
							<%= password_field_tag :password, params[:password] %>
						</td>
					</tr>

					<tr>
						<td class="action">
							<%= submit_tag "Login" %>
						</td>
					</tr>
				</table>
			<% end %>
		</td>
	</tr>
</table>

