<div class="comment">
	<div class="commenter_logo">
		<img src="/images/commenter.jpg" alt="<%= comment.commenter%>" width="40" height="40"/>
	</div>

	<header>
			<span class="commenter">
				<%= comment.commenter %>
      </span>
      <span class="created_at">
        <%= t 'post_at' %> <%= comment.created_at.in_time_zone(+8.hours).strftime('%D %T') %>
      </span>
      <% if session[:user_id] %>
        <span class="operation">
          <%= link_to t('destroy'), [comment.article, comment],
            :confirm => 'Are you sure?',
            :method => :delete %>
        </span>
      <% end %>
	</header>

	<div class="comment_content">
		<%= sanitize comment.content %>
	</div>

	
	<div class="clear"></div>
</div>
