<div class="comment">
	<div class="commenter_logo">
		<img src="/images/commenter.jpg" alt="<%= comment.commenter%>" width="40" height="40"/>
		<span><%= comment.commenter %></spam>
	</div>

	<header>
		<small>Commented at: <%= comment.created_at %></small>
	</header>

	<div class="comment_content">
		<%= comment.content %>
	</div>

	<footer>
		<small class="operation">
			<%= link_to 'Delete', [comment.article, comment],
				:confirm => 'Are you sure?',
				:method => :delete %>
		</small>
	</footer>
</div>
