<%= form_for([@article, @article.comments.build]) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :commenter, :class => 'span5' %>
  </div>

  <div class="field">
    <div id='wmd-button-bar' class='span11'></div>
    <%= f.text_area :content, :id => 'wmd', :class => 'span11', :rows => 5 %>
  </div>

  <div class="actions"> 
    <%= f.submit t('create_comment') %>
  </div>
  <div id='wmd-preview'></div>
<% end %>
