%article.article
  %header.red_header
    %h2.article_title
      = link_to article.title, article_url(article)
    %span.created_at<
      = t 'post_at'
      = article.created_at.in_time_zone(+8.hours).strftime('%D %T')
    %span.tags<
      = t 'tags'
      = sanitize join_tags article
    -if session[:user_id]
      %span.operation
        = link_to t('edit'), edit_article_path(article)
        = link_to t('destroy'), article, :confirm => 'Are you sure?', :method => :delete
  %span.operation
    = link_to '>>' + t('more'), article
  %br/
  .clear

