- cache [article, :header] do
  %header.clearfix
    %h3.article_title
      = link_to article.title, article_path(article)
    %span.created_at<
      = t 'post_at'
      = time_tag article.created_at.to_date
    - if article.tags.any?
      .tags
        %span= t 'tags'
        %ul.unstyled
          = render partial: 'tags/tag', collection: article.tags
    %span.operation.admin
      = link_to t('edit'), edit_article_path(article)
      = link_to t('destroy'), article, data: { confirm: 'Are you sure?' }, :method => :delete
