<!--% @article.tags.build %-->
<%= form_for @article do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, :class => 'span11'%>
  </div>

  <div class="field">
    <%= f.text_area :summary, :class => 'span11'%>
  </div>

  <div class="field">
    <div id='wmd-button-bar' class='span11'></div>
    <%= f.text_area :content, :id => 'wmd', :class => 'span11' %>
  </div>
  
  <div class="field">
    <%= f.text_field :tag_names, :class => 'span11' %>
  </div>

  <div class="actions">
    <%= f.submit t('post_article')%>
  </div>

  <div id='wmd-preview' class='span11'></div>
<% end %>
