- content_for :head do
  = javascript_include_tag 'wmd-editor'
  = stylesheet_link_tag 'wmd-editor'

= form_for @article do |f|
  #edit-area
    .field= f.text_field :title
    .field= f.text_field :tag_list
    .field
      #wmd-button-bar
      = f.text_area :content, :id => 'wmd', rows: 13
    .actions= f.submit t('post_article'), :class => 'btn'
  #preview-area
    #wmd-preview
