<%= form_for @article do |f| %>
  <div class="field">
    <%= f.text_field :title, :class => 'left-full-width'%>
  </div>
  <% if params[:action] == 'new' %>
    <div class="field">
      <%= f.text_field :english_title, :class => 'left-full-width'%>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_field :tags_string, :class => 'left-full-width'%>
  </div>
  <div class="field">
    <div id='wmd-button-bar' class='left-full-width' ></div>
    <%= f.text_area :content, :id => 'wmd', :class => 'left-full-width' %>
  </div>
  <div id='wmd-preview' class='left-full-width'></div>
  <div class="actions">
    <%= f.submit t('post_article'), :class => 'btn' %>
  </div>
<% end %>
