= form_for @article do |f|
  .field= f.text_field :title, :class => 'left-full-width'
  -if params[:action] == 'new'
    .field= f.text_field :english_title, :class => 'left-full-width'
  .field= f.text_field :tags_string, :class => 'left-full-width'
  .field
    #wmd-button-bar.left-full-width
    = f.text_area :content, :id => 'wmd', :class => 'left-full-width'
  #wmd-preview.left-full-width
  .actions= f.submit t('post_article'), :class => 'btn'
