<% if session[:user_id] %>
  <%= link_to 'New Article', new_article_path %>
<% end %>

<% @articles.each do |article| %>
  <article>
		<header>
    	<h2><%= link_to article.title, article %></h2>
			<span class="created_at">
				Posted at: <%= article.created_at %>
			</span>
			<span class="tags">
				Tags: <%= join_tags article %>
      </span>
      <% if session[:user_id] %>
        <footer class="operation">
          <%= link_to 'Edit', edit_article_path(article) %>
          <%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %>
        </footer>
      <% end %>
		</header>

    <div class="article_summary:">
      <%= sanitize article.summary %>
    </div>
    <span class="operation">
      <%= link_to '>>More', article %>
    </span>
		<br/>

		<div class="clear"></div>
  </article>
<% end %>
<%= will_paginate @articles %>
