<%= link_to 'New Article', new_article_path %>
<% @articles.each do |article| %>
  <article>
		<header>
    	<h2><%= article.title %></h2>
			<small class="created_at">
				Posted at: <%= article.created_at %>
			</small>
			<small class="tags">
				Tags: <%= join_tags article %>
			</small>
		</header>

    <p><%= sanitize article.summary %></p>
    <%= link_to '>>More', article %>
		<br/>
    
		<footer>
			<small class="operation">
				<%= link_to 'Edit', edit_article_path(article) %>
				<%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %>
			</small>
		</footer>
  </article>
<% end %>
<%= will_paginate @articles %>
