-%w(success error info).each do |type|
  -if flash[type.to_sym]
    %div{class: "alert alert-#{ type }"}
      %a{class: "close", "data-dismiss" => "alert", href: "#"}×
      = raw flash[type.to_sym]

-if logged_in? && current_user.admin?
  .top_operation= link_to t('new_article'), new_article_path

- if @articles
  = render @articles
  = will_paginate @articles
