<%= link_to 'New Article', new_article_path %>
<% @articles.each do |article| %>
  <article>
		<header>
    	<h2><%= article.title %></h2>
			<small>
				<%= article.created_at %>
			</small>
		</header>

    <p><%= article.summary %></p>
    <%= link_to '>>More', article %>
		<br/>
    
		<footer>
			<%= link_to 'Edit', edit_article_path(article) %>
    	<%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %>
		</footer>
  </article>
<% end %>
