%article.article
  %header.red_header
    %h2.article_title= @article.title
    %span.created_at<
      = t 'post_at'
      = @article.created_at.in_time_zone(+8.hours).strftime('%D %T')
    %span.tags<
      = t 'tags'
      = sanitize join_tags @article
    -if session[:user_id]
      %span.operation
        = link_to t('edit'), edit_article_path(@article)
        = link_to t('back'), articles_path

  .article_content= format_text @article.content

#disqus_thread
:javascript
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_developer = #{APP_CONFIG['disqus_developer']};
  var disqus_shortname = '#{APP_CONFIG['disqus_shortname']}'; // required: replace example with your forum shortname

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
%noscript
  Please enable JavaScript to view the
  = link_to 'comments powered by Disqus.', 'http://disqus.com/?ref_noscript'
= link_to 'http://disqus.com', :class => 'dsq-brlink' do
  blog comments powered by <span class='logo-disqus'>Disqus</span>

