%article.article
  %header
    %h3.article_title= @article.title
    %span.created_at
      = t 'post_at'
      = @article.created_at.in_time_zone(+8.hours).strftime('%D %T')
    - if @article.tags.any?
      %span.tags
        = t 'tags'
        - @article.tags.each do |tag|
          = link_to tagged_articles_url(tag) do
            %span.label #{tag.name}
    -if session[:user_id]
      %span.operation
        = link_to t('edit'), edit_article_path(@article)
        = link_to t('back'), articles_path

  .article_content= format_text @article.content

= render :partial => 'layouts/disque'
