<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Summary:</b>
  <%= @article.summary %>
</p>

<p>
  <b>Content:</b>
  <%= @article.content %>
</p>

<h2>Comments</h2>
<%= render :partial => "comments/comment",
	:collection => @article.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<br/>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
