<h1>Listing evolutions</h1>

<table>
  <tr>
    <th>Licence</th>
    <th>Change</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @evolutions.each do |evolution| %>
  <tr>
    <td><%= evolution.licence %></td>
    <td><%= evolution.change %></td>
    <td><%= link_to 'Show', evolution %></td>
    <td><%= link_to 'Edit', edit_evolution_path(evolution) %></td>
    <td><%= link_to 'Destroy', evolution, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Evolution', new_evolution_path %>
