<div class="acknowledge" >
  <% if session[:user_id] %>
  <span class="operation">
    <%= link_to t('edit'), edit_acknowledge_path(acknowledge) %> |
    <%= link_to t('destroy'), acknowledge, :confirm => t('confirm'), :method => :delete %>
  </span>
  <% end %>

  <div class="acknowledge_image">
    <%= link_to image_tag(acknowledge.image_url), acknowledge.website %>
  </div>

  <div class="acknowledge_details">
    <span><%= t 'acknowledge_name' %>:</span>
    <span><%= acknowledge.name %></span>
    <br/>

    <span><%= t 'acknowledge_website' %>:</span>
    <span><%= link_to acknowledge.website, acknowledge.website %></span>
    <br/>

    <span><%= t 'acknowledge_description' %>:</span>
    <span><%= acknowledge.description %></span>
  </div>
  <div class="clear"></div>
</div>


