%aside#global-aside
  %header
    = link_to 'Reyes Yang', '/', :id => 'logo'
    %h3#me
      = link_to '吾', '/about'
      #passage
        - if logined?
          = link_to '注销', logout_path, data: { confirm: 'Are you sure?' }, :method => :delete


  %section#aside_tags
    - @tags = Tag.ordered.list(current_user)
    - if @tags.any?
      %ul.unstyled
        - @tags.each do |tag|
          %li<
            = link_to tag_path(tag), :class=>'aside_tag' do
              <span class='label'>#{tag.name}</span>
            %span x #{tag.articles_count}
    - else
      No more tags now!
