%aside#global-aside
  %header
    = link_to 'Reyes Yang', '/', :id => 'logo'
    %h3#me
      = link_to '吾', '/about'
      #passage
        - if logged_in?
          = link_to '#', id: 'logout-button', class: 'dark' do
            %span 退出
        - else
          = link_to '#', id: 'login-button', class: 'dark' do
            %span 登录


  %section#aside_tags
    - cache cache_key_for_tags do
      %ul.unstyled
        = render partial: 'tags/tag', collection: Tag.order(:name)
