%footer#global_footer
  #cc
    = t 'licence_prefix'
    = link_to '//creativecommons.org/licenses/by/4.0/', :rel => 'license', :target => '_blank' do
      = image_tag '//i.creativecommons.org/l/by/4.0/80x15.png', :alt => '知识共享许可协议', :id => 'cc_icon'
      %strong= t 'licence'
    = t 'licence_suffix'
  #copy<
    &copy; #{DateTime.now.year} &hearts; &nbsp;
    = link_to t('copy_right'), '/about'
