%header#global_header
  = link_to '/', :id => 'logo' do
    = image_tag '/images/logo.jpg'
  %nav#global_nav
    = link_to t('home'), '/'
    = link_to t('about'), '/about'
    - if session[:user_id]
      = link_to t('logout'), logout_path, :confirm => 'Are you sure?', :method => :delete

