<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= @page_title || "Blog" %>
    </title>
    <%= stylesheet_link_tag :all %>
		<%= stylesheet_link_tag stylesheet_path('/markitup/skins/markitup/style.css') %>
		<%= stylesheet_link_tag stylesheet_path('/markitup/sets/default/style.css') %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/acknowledge">Acknowledge</a>
        <a href="/me">Me</a>
        <% if session[:user_id] %>
          <%= link_to 'Logout', logout_path, :confirm => 'Are you sure?', :method => :delete %>
        <% end %>
      </nav> 
    </header>
    
    <section id="main_content">
      <%= yield %>
    </section>
    
    <aside>
			<section id="aside_tags"/>
				<h2>Tags:</h2>
				<% if @tags %>
					<% @tags.each do |tag| %>
						<%= link_to tag.name, '/articles/tag/'+ tag.id.to_s, :class=>'aside_tag' %> x <%= tag.articles.count %>
						<br/>
					<% end %>
				<% else %>
					No more tags now!
				<% end %>
			</section>
		</aside>
    
    <div class="clear"></div>

    <footer>
		  <div id='cc'>
				除特别说明外本站内容均采用
				<a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/cn/">
					<img alt="知识共享许可协议" id="cc_icon" src="http://i.creativecommons.org/l/by-sa/2.5/cn/80x15.png">
					<strong>知识共享署名-相同方式共享 2.5 中国大陆许可协议</strong>
				</a>
				进行许可。
			</div>
			<div id='copy'>
				本博客当前版本11.07.17.01, &copy; 2011 reyesyang.info
			</div>
		</footer>
		<%= javascript_include_tag "jquery.min", "jquery_ujs" %>
		<%= javascript_include_tag javascript_path('/markitup/sets/default/set.js') %>
		<%= javascript_include_tag javascript_path('/markitup/jquery.markitup.js') %>
		<script type="text/javascript" >
		  $(document).ready(function() {
				$(".markitup_setting").markItUp(fullSettings);
			});
		</script>
  </body>
</html>
