<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= @page_title || "Blog" %>
    </title>
    <%= stylesheet_link_tag :all %>
		<%= stylesheet_link_tag stylesheet_path('/markitup/skins/markitup/style.css') %>
		<%= stylesheet_link_tag stylesheet_path('/markitup/sets/default/style.css') %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <header>
      <nav>
        <a href="/"><%= t 'home'%></a>
        <a href="/acknowledge"><%= t 'acknowledge' %></a>
        <a href="/about"><%= t 'about' %></a>
        <% if session[:user_id] %>
          <%= link_to t('logout'), logout_path, :confirm => 'Are you sure?', :method => :delete %>
        <% end %>
      </nav> 
    </header>
    
    <section id="main_content">
      <%= yield %>
    </section>
    
    <aside>
			<section id="aside_tags"/>
        <h2><%= t 'tags' %></h2>
				<% if @tags %>
					<% @tags.each do |tag| %>
						<%= link_to tag.name, '/articles/tag/'+ tag.id.to_s, :class=>'aside_tag' %> x <%= tag.articles.count %>
						<br/>
					<% end %>
				<% else %>
					No more tags now!
				<% end %>
			</section>
		</aside>
    
    <div class="clear"></div>

    <footer>
		  <div id='cc'>
        <%= t 'licence_prefix' %>
        <a rel="license" href="<%= t 'licence_link' %>" target='_blank'>
					<img alt="知识共享许可协议" id="cc_icon" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png">
          <strong><%= t 'licence' %></strong>
				</a>
        <%= t 'licence_suffix' %>
      </div>
			<div id='copy'>
			  <%= t 'current_version' %>11.07.17.01, &copy; 2011 <%= t 'copy_right' %>
			</div>
		</footer>
		<%= javascript_include_tag "jquery.min", "jquery_ujs" %>
		<%= javascript_include_tag javascript_path('/markitup/sets/default/set.js') %>
		<%= javascript_include_tag javascript_path('/markitup/jquery.markitup.js') %>
		<script type="text/javascript" >
		  $(document).ready(function() {
				$(".markitup_setting").markItUp(fullSettings);
			});
		</script>
  </body>
</html>
