<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= @page_title || "Blog" %>
    </title>
    <%= stylesheet_link_tag :all %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <header>
			<nav>
				<a href="/">Home</a>
				<a href="/acknowledge">Acknowledge</a>
				<a href="/me">Me</a>
			</nav>
    </header>

    <section id="articles">
      <%= yield %>
    </section>
    
    <aside>
    This is aside part
    </aside>
    
    <div class="clear"></div>

    <footer>
      This is footer
    </footer>
    <%= javascript_include_tag :defaults %>
  </body>
</html>
