!!! 5
%html
  %head
    %title= "#{@page_title + ' - ' if @page_title}" + APP_CONFIG['default_title']
    %meta{:charset => 'utf-8'}
    %meta{:name => 'description', :content => "#{@page_description || APP_CONFIG['default_description']}"}
    = csrf_meta_tag
    = stylesheet_link_tag 'application', data: { :'turbolink-track' => true }
    = javascript_include_tag 'application', data: { :'turbolink-track' => true }
    = yield :head
    /[if lt IE 9]
      %script{:src => "//html5shim.googlecode.com/svn/trunk/html5.js"}
    = render :partial => 'layouts/google_analytics'

  %body
    %section#wide-main-wrapper
      = yield
      .clearfix
    = render :partial => 'layouts/footer'
    = yield :js
